{% extends 'base.html' %}
{% block tool_base %}
                    <li {% if "/search/" == request.path %}class="nav-item active" {% else %}class="nav-item" {% endif %}><a class="nav-link" href="{% url 'search_home' %}">DATASETS</a>
                    </li>
                    <li {% if "/search/search_list/" == request.path %}class="nav-item active" {% else %}class="nav-item" {% endif %}><a class="nav-link" href="{% url 'search_list' %}">SEARCHS</a>
                    </li>
                    <li {% if "/search/result_list/" == request.path %}class="nav-item active" {% else %}class="nav-item" {% endif %}><a class="nav-link" href="{% url 'search_result_list' %}">RESULTS</a>
                    </li>
{% endblock %}
