<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>

    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <script type="text/javascript" src="/static/popper.min.js"></script>
</head>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">SEARCH</h5>
    <h6 class="card-subtitle mb-2 text-muted">Search stuff in local datasets</h6>
    <p class="card-text">You can add datasets by putting folders of your dataset in the dataset folder. Dont forget to add a info.json file in your dataset folder, this file is used to gather metadata about the dataset.</p>
    <a href="{% url 'search_home' %}" class="btn btn-primary">Access local search</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">OSINT</h5>
    <h6 class="card-subtitle mb-2 text-muted">Plan and launch osint tasks, or analyses osint gathered data</h6>
    <p class="card-text">Here you can manage osint tasks, like google search, shodan search and more. You can also view and analyses the data you have gathered previously.</p>
    <a href="{% url 'osint_home' %}" class="btn btn-primary">Access OSINT tool</a>
  </div>
</div>
