{% extends 'base.html' %}
{% block tool_base %}
                    <li {% if "/osint/" == request.path %}class="nav-item active" {% else %}class="nav-item" {% endif %}><a
                            class="nav-link" href="{% url 'osint_home' %}">OSINT Tool</a>
                    </li>
                    <li {% if "/osint/tasks/" == request.path %}class="nav-item active" {% else %}class="nav-item" {% endif %}><a
                            class="nav-link" href="{% url 'tasks' %}">TASKS</a>
                    </li>
                    <li {% if "/osint/jobs/" == request.path %}class="nav-item active" {% else %}class="nav-item" {% endif %}><a
                            class="nav-link" href="{% url 'jobs' %}">JOBS</a>
                    </li>
                    <li {% if "/osint/results/" == request.path %}class="nav-item active" {% else %}class="nav-item" {% endif %}><a
                            class="nav-link" href="{% url 'results' %}">RESULTS</a>
                    </li>
                    <li {% if "/osint/items/" == request.path %}class="nav-item active" {% else %}class="nav-item" {% endif %}><a
                            class="nav-link" href="{% url 'items' %}">ITEMS</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li {% if "/osint/config/" == request.path %}class="nav-item active" {% else %}class="nav-item" {% endif %}><a
                        class="nav-link" href="{% url 'config' %}">CONFIGURATION</a>
                    </li>
{% endblock tool_base %}
