{% extends 'base_osint.html' %}
{% load bootstrap4 %}

{% block title %}Home{% endblock %}

{% block content %}
<br>
<p>Welcome in this osint automation and analysis tool.
<br>
Some modules in this tool need API key, go in "Configuration" to set them.
<br>
To get started, you should create tasks.
<br>
Then you can either run the tasks imediatly or schedule them by creating a Job.
<br>
Tasks results will be available in "Results" page.
<br>
All data gathered is also stored in "Items" page.</p>
{% endblock %}